.task {
    padding: 14px 12px;
}

.task-name {
    font-size: 18px;
}

.ant-checkbox-inner {
    width: 30px;
    height: 30px;
}

.ant-checkbox-inner::after {
    left: 34%;
    width: 6.714286px;
    height: 13.142857px;
}

.today-text {
    color:#fd6161;
    font-weight: 800;
}