@import url('https://fonts.googleapis.com/css?family=Dosis:700|Lobster|Montserrat');

.app-container {
  height: 100%;
}

.app-content {
    margin-top: 64px; 
  }

.ant-layout {
    background-color: #F8F8F8;
}