.app-title {
  float: left;
}

.app-title a {
  text-decoration: none;
  line-height: 64px;
  font-size: 30px;
  display: inline-block;
  font-family: 'Lobster', cursive;
  margin-left: 20px;
  color: #000000;
}

#xtitle {
  font-family: 'Dosis', sans-serif;
  color: #DB0606;
}

.app-title a:hover {
  text-decoration: none;
}

.ant-dropdown-link{
  border: none;
  background: white;
  cursor: pointer;
  outline:none;
}


.app-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0;
  background-color: white;
}

.app-menu {
  float: right;
}

.app-menu > li {
  padding: 0 20px;
}

.app-menu > li > a {
  padding: 0 20px;
  margin: 0 -20px;
}

.app-menu > li > a > i {
  margin-right: 0 !important;
}

.profile-dropdown-menu {
  min-width: 180px;
}

.profile-menu .user-full-name-info {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0,0,0,0.85);
}

.profile-menu .username-info {
  font-size: 14px;
  color: rgba(0,0,0,0.65);
}

.dropdown-item {
  padding: 10px 12px;
}

.dropdown-item a {
  padding: 10px 12px;
  margin: -10px -12px;
}

.nav-icon {
  font-size: 20px;
}

.poll-icon {
  margin-top: -4px;
}

@media (max-width: 768px) {
  .app-title a {
    font-size: 20px;
  }

  .app-menu > li {
    padding: 0 15px;
  }

  .app-menu > li > a {
    padding: 0 15px;
    margin: 0 -15px;
  }
}  